<section class="section">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card weather">
                <a class="weatherwidget-io" href="https://forecast7.com/pl/51d9520d16/skierniewice/" data-label_1="Skierniewice" data-label_2="Pogoda" data-font="Roboto" data-days="5">Skierniewice Pogoda</a>
                <script>
                    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                </script>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">

            </div>
        </div>
    </div>
    
</section>


