<section class="section">
    <div class="section-header">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div class="section-body">
        <h2 class="section-title">Dodaj nowy grafik</h2>
        <p class="section-lead">
            Wypełnij wszystkie pola formularza, a następnie dodaj swój nowy grafik!
        </p>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <form method="post">
                        <div class="card-header">
                            <h4>Default Validation</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Nazwa grafiku</label>
                                <input type="text" class="form-control" required="">
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control select2">
                                    <option>Szkic</option>
                                    <option>Aktywny</option>
                                    <option>Nieaktywny</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group mb-0">
                                <label>Message</label>
                                <textarea class="form-control" required=""></textarea>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



