<section class="section">
    <div class="section-header">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="col-md-10 float-left">
                        <div id="calendar"></div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="col-md-2 float-left">
                        <div id="external-events">
                            <h4>Draggable Events</h4>
                            <div id="external-events-list">
                                @foreach (var item in ViewData["categories"] as IList<Category>)
                                {
                                    <div class="fc-event list-group-item">@item.Category_Name</div>
                                }
                            </div>
                            <p>
                                <input type="checkbox" id="drop-remove" />
                                <label for="drop-remove">usuń</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            



        </div>
    </div>
</section>


