<section class="section">
    <div class="section-header">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-md-10">
                <div id="calendar"></div>
                <div style="clear:both"></div>
            </div>
            <div class="col-md-2">
                <div id="external-events">
                    <h4>Draggable Events</h4>
                    <div id="external-events-list">
                        <div class="fc-event list-group-item">AKROBATYKA 1 </div>
                        <div class="fc-event list-group-item">BALET </div>
                        <div class="fc-event list-group-item">ĆWICZENIA KOREKCYJNE DLA DZIECI </div>
                        <div class="fc-event list-group-item">PILATES</div>
                        <div class="fc-event list-group-item">ZUMBA FITNESS</div>
                    </div>
                    <p>
                        <input type="checkbox" id="drop-remove" />
                        <label for="drop-remove">usuń</label>
                    </p>
                </div>
            </div>



        </div>
    </div>
</section>


