@model IEnumerable<ProductView>

<section class="section">
    <div class="section-header">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="wizard-steps">
                @foreach (var product in Model)
                {

                    <div class="wizard-step wizard-step-active single-product" style="cursor:pointer;" id="product-@product.Product_Id">
                        <div class="wizard-step-icon">
                            <i class="fas fa-@product.Product_Icon"></i>
                        </div>
                        <div class="wizard-step-label">
                            <u>@product.Product_Name </u><br />
                           @product.Product_Gross_Price zł
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>




