@model IEnumerable<Service>

<section class="section">
    <div class="section-header">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article service">
                    <div class="article-header">
                        <div class="article-badge">
                            <span class="badge badge-danger">Masaż</span>
                            <span class="badge badge-primary">Kosmetologia</span>
                        </div>
                        <div class="article-image" data-background="/images/stisla/news/img08.jpg">
                        </div>

                        <div class="article-title">
                            <h2><a href="#">Masaż erotyczny</a></h2>
                        </div>
                    </div>
                    <div class="article-details">
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <div class="section-title service-price">180 PLN</div>
                        <div class="article-cta">
                            <a href="#" class="btn btn-primary "> Czytaj więcej</a>
                            <a href="#" class="btn btn-busket "><i class="fas fa-shopping-cart"></i> Rezerwuj</a>
                        </div>
                    </div>
                </article>


            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article service">
                    <div class="article-header">
                        <div class="article-image" data-background="/images/stisla/news/img08.jpg">
                        </div>
                        <div class="article-title">
                            <h2><a href="#">Masaż erotyczny</a></h2>
                        </div>
                    </div>
                    <div class="article-details">
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <div class="section-title service-price">180 PLN</div>
                        <div class="article-cta">
                            <a href="#" class="btn btn-primary "> Czytaj więcej</a>
                            <a href="#" class="btn btn-busket "><i class="fas fa-shopping-cart"></i> Rezerwuj</a>
                        </div>
                    </div>
                </article>


            </div>
        </div>
    </div>

</section>


