@{
    Layout = "~/Views/Shared/Login.cshtml";
}
<section class="section">
    <div class="section-header">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div class="section-body">

    </div>
</section>


