<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"] - Trimfit</title>

    <!-- PONIŻEJ STISLE Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/components.css">

    <!-- Datatable -->
    <link rel="stylesheet" href="~/css/modules/datatable/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/modules/datatable/datatables.min.css" />
    <link rel="stylesheet" href="~/css/modules/datatable/select.bootstrap4.min.css" />
    <!-- Datatable -->
    <!-- Calender -->
    <link href="~/packages/core/main.css" rel="stylesheet" />
    <link href="~/packages/daygrid/main.css" rel="stylesheet" />
    <link href="~/packages/timegrid/main.css" rel="stylesheet" />
    <link href="~/packages/list/main.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/selectric.css">
    <link href="~/css/bootstrap-timepicker.min.css" rel="stylesheet" />



    <script src="~/packages/core/main.js" type="text/javascript"></script>
    <script src="~/packages/interaction/main.js" type="text/javascript"></script>
    <script src="~/packages/daygrid/main.js" type="text/javascript"></script>
    <script src="~/packages/timegrid/main.js" type="text/javascript"></script>
    <script src="~/packages/list/main.js" type="text/javascript"></script>
    <script src="~/js/modules/calendar.js" type="text/javascript"></script>

</head>
<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                        <div class="search-backdrop"></div>
                        <div class="search-result">
                            <div class="search-header">
                                Histories
                            </div>
                            <div class="search-item">
                                <a href="#">How to hack NASA using CSS</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>

                            <div class="search-item">
                                <a href="#">#Stisla</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="search-header">
                                Result
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/images/stisla/products/product-3-50.png" alt="product">
                                    oPhone S9 Limited Edition
                                </a>
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/images/stisla/products/product-2-50.png" alt="product">
                                    Drone X2 New Gen-7
                                </a>
                            </div>
                            <div class="search-header">
                                Projects
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <div class="search-icon bg-danger text-white mr-3">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    Stisla Admin Template
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="fas fa-shopping-cart"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Koszyk zakupów
                            </div>
                            <div class="dropdown-list-content dropdown-list-message">

                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-avatar">
                                        <img alt="image" src="~/images/stisla/avatar/avatar-1.png" class="rounded-circle">
                                        <div class="is-online"></div>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b>Kusnaedi</b>
                                        <p>Hello, Bro!</p>
                                        <div class="time">10 Hours Ago</div>
                                    </div>
                                </a>

                            </div>
                            <div class="dropdown-footer text-center">
                                <a asp-controller="Cart" asp-action="Index">Przejdź do koszyka <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        Template update is available now!
                                        <div class="time text-primary">2 Min Ago</div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <div class="dropdown-item-icon bg-success text-white">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                                        <div class="time">12 Hours Ago</div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <div class="dropdown-item-icon bg-danger text-white">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        Low disk space. Let's clean it!
                                        <div class="time">17 Hours Ago</div>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/images/stisla/avatar/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="features-activities.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i> Activities
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="User" asp-action="Logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a asp-controller="Dashboard" asp-action="Index"><img src="~/images/logoHorizontal.jpg" width="150" /></a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a asp-controller="Dashboard" asp-action="Index"><img src="~/images/logoIcon.jpg" width="50" /></a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="nav-item active">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>

                        </li>
                        <li class="menu-header">Aktywność</li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Grafik</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Timetable" asp-action="Edit" class="nav-link">Zarządzaj grafikami</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-running"></i> <span>Zajęcia</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Category" asp-action="List" class="nav-link">Lista kategorii</a></li>
                                <li><a asp-controller="Activity" asp-action="List" class="nav-link">Lista zajęć</a></li>
                            </ul>
                        </li>
                        <li class="menu-header">Zakupy</li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-ticket-alt"></i> <span>Karnety</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link">Test</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Usługi</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Service" asp-action="List" class="nav-link">Przeglądaj usługi</a></li>
                                <li><a asp-controller="Service" asp-action="Manage" class="nav-link">Zarządzaj usługami</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-shopping-basket"></i> <span>Produkty</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Product" asp-action="List" class="nav-link">Przeglądaj produkty</a></li>
                                <li><a asp-controller="Product" asp-action="Manage" class="nav-link">Zarządzaj produktami   </a></li>
                            </ul>
                        </li>

                        <li class="menu-header">Klub</li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-user-lock"></i> <span>Pracownicy</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link">Test</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-users"></i> <span>Klienci</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Customer" asp-action="List" class="nav-link">Lista klientów</a></li>
                                <li><a class="nav-link">Potencjalni klienci</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-clipboard-check"></i> <span>Marketing</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link">Test</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-file-alt"></i> <span>Raporty</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link">Test</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="credits.html"><i class="fas fa-cog"></i> <span>Ustawienia ogólne</span></a></li>
                    </ul>
                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                            <i class="fas fa-rocket"></i> Documentation
                        </a>
                    </div>
                </aside>
            </div>
            <!-- Main Content -->
            <partial name="_CookieConsentPartial" />

            <div class="main-content">
                <div id="loader-wrapper">
                    <div class="load">
                        <hr /><hr /><hr /><hr />
                    </div>
                </div>
                @RenderBody()

            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2019 Trimfit.pl <div class="bullet"></div> Design By <a href="https://smartica.com/">Smartica</a>
                </div>
                <div class="footer-right">
                    1.0.0
                </div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script src="~/js/select2.full.min.js"></script>
    <script src="~/js/stisla.js"></script>
    <script src="~/js/cleave.min.js"></script> <!-- Dynamiczne uzupełnianie podczas pisania -->
    <!-- DataTable -->
    <!-- JS Libraies -->
    <script src="~/js/modules/datatable/datatables.min.js"></script>
    <script src="~/js/modules/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/modules/datatable/dataTables.select.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/js/pages/timetable.js"></script>
    <script src="~/js/pages/customer.js"></script>
    <script src="~/js/pages/service.js"></script>
    <script src="~/js/pages/product.js"></script>
    <script src="~/js/pages/category.js"></script>
    <!-- Data Table -->

    <script src="~/js/bootstrap-timepicker.min.js"></script>

    <!-- Modals-->

    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/modules-sweetalert.js"></script>
    <script type="text/javascript" src="~/js/modules/modals/modal.js"></script>
    <script src="~/js/scripts.js" charset="utf-8"></script>
    <script src="~/js/custom.js" charset="utf-8"></script>
    <script>

        $(document).ready(function () {
            $("#loader-wrapper").fadeOut();
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
